name: "copybara"

on:
  push:
    branches:
      - master
      - release/*
      - site/*

jobs:
  copybara-validate-site:
    name: "Validate: Site"
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
      # 1: Pull code.
      - uses: actions/checkout@v2

      # 2: Validate migration via Copybara.
      - name: Validate Migration
        uses: sgammon/copybara-action@6c67a935b499c976bc597bb24dd5143ea2082b02
        with:
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          gpg_key: ${{ secrets.BOT_GPG_KEY }}
          gpg_key_id: ${{ secrets.BOT_GPG_KEY_ID }}
          image: us.gcr.io/elide-ai/tools/copybara:latest
          workflow: site
          command: validate

  copybara-validate-protocol:
    name: "Validate: Protocol"
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
      # 1: Pull code.
      - uses: actions/checkout@v2

      # 2: Validate migration via Copybara.
      - name: Validate Migration
        uses: sgammon/copybara-action@6c67a935b499c976bc597bb24dd5143ea2082b02
        with:
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          gpg_key: ${{ secrets.BOT_GPG_KEY }}
          gpg_key_id: ${{ secrets.BOT_GPG_KEY_ID }}
          image: us.gcr.io/elide-ai/tools/copybara:latest
          workflow: site
          command: validate

  copybara-migrate-site:
    name: "Sync: Site"
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      # 1: Pull code.
      - uses: actions/checkout@v2

      # 2: Validate migration via Copybara.
      - name: Validate Migration
        uses: sgammon/copybara-action@6c67a935b499c976bc597bb24dd5143ea2082b02
        with:
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          gpg_key: ${{ secrets.BOT_GPG_KEY }}
          gpg_key_id: ${{ secrets.BOT_GPG_KEY_ID }}
          image: us.gcr.io/elide-ai/tools/copybara:latest
          workflow: site
          command: validate

      # 3: Publish to site as PR.
      - name: Migration
        uses: sgammon/copybara-action@6c67a935b499c976bc597bb24dd5143ea2082b02
        with:
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          gpg_key: ${{ secrets.BOT_GPG_KEY }}
          gpg_key_id: ${{ secrets.BOT_GPG_KEY_ID }}
          image: us.gcr.io/elide-ai/tools/copybara:latest
          workflow: site
          command: migrate

  copybara-migrate-protocol:
    name: "Sync: Protocol"
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      # 1: Pull code.
      - uses: actions/checkout@v2

      # 2: Validate migration via Copybara.
      - name: Validate Migration
        uses: sgammon/copybara-action@6c67a935b499c976bc597bb24dd5143ea2082b02
        with:
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          gpg_key: ${{ secrets.BOT_GPG_KEY }}
          gpg_key_id: ${{ secrets.BOT_GPG_KEY_ID }}
          image: us.gcr.io/elide-ai/tools/copybara:latest
          options: --force
          workflow: protocol
          command: validate

      # 3: Publish to protocol as PR.
      - name: Migration
        uses: sgammon/copybara-action@6c67a935b499c976bc597bb24dd5143ea2082b02
        with:
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          gpg_key: ${{ secrets.BOT_GPG_KEY }}
          gpg_key_id: ${{ secrets.BOT_GPG_KEY_ID }}
          image: us.gcr.io/elide-ai/tools/copybara:latest
          options: --force
          workflow: site
          command: migrate
